
:root {
  --black: rgba(27, 27, 27, 1);
  --cream: rgba(243, 240, 233, 1);
  --blue: rgba(27, 72, 145, 1);
  --yellow: rgba(245, 178, 1, 1);
  --red: rgba(239, 49, 25, 1);
}

html{ 
    scroll-behavior: smooth;
}
body {
    background-color: var(--cream);
    margin: 7px;
}

.navbar {
    background-color: var(--cream);
    margin-bottom: .5em;
    padding: .75em 2em;
    border-radius: 10px;
    position: sticky;
    top:0;
    z-index: 1000;
    overflow: hidden;

    display: flex;
    justify-content: space-between;

    font-family: "organda-mn", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: box-shadow 0.3s ease; /* smooth shadow transition */


    /* Nav list */
    ul{
        padding: 0;
        margin: 0;
        align-items: center;
        list-style: none;
    }
    /* Nav links */
    a {
        text-align: center;
        padding: 15px;
        text-decoration: none;

        color: var(--red);
        font-size: 2.15em;
    }

   /* Nav items */
    li {
        padding: 0 1em;
        float: left;
    }

    .left {
        display: flex;
        flex: 1;
        gap: 2em;
        justify-content: flex-start;
    }
    .right {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        a{
        color: var(--blue);
        font-size: 1.5em;
        }
    }
}

.navbar.scrolled {
  box-shadow: 0 4px 12px rgba(35, 35, 35, 0.15); /* subtle shadow */
}

/* CookModeToggle Switch */
.cookmode-toggle {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var(--blue);
    font-size: 1.75em;
    font-family: "organda-mn", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Toggle switch styling */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--red);
}

input:checked + .slider:before {
    transform: translateX(24px);
}
/* End Toggle Switch */

/* Logo animation 
#logo {
    transition: transform 0.2s ease;
}
*/

main {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  position: relative;
  margin-left: 6em;
  margin-right: 6em;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 4em;
  width: 100%;
}


#landing {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
    margin-top: 3em;
    margin-bottom: 2em;
    align-self: auto;
}

#landing > img {
    max-width: 580px;
    height: auto;
    margin-right: 5em;    
    margin-top: 4.75em;
}

 #title {    
    font-family: "organda-mn", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 95pt;

    margin: 0; 
    line-height: 1; 
    }

 #description {
    font-family: "marine", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22pt;

    margin-top: 0.8em; 
    margin-bottom: 1.5em;
    line-height: 1.6;
    }

.cookinfo {
    display: flex;         
    align-items: center;    
    gap: 1.25em;            
    font-family: "marine", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18pt;
    color: var(--red);
    margin-top: 0.75em;
    
    img {
        width: 47px;          
        height: 47px;
        object-fit: contain;
        margin: 0;       
    }

    .cooktime {
        display: flex;
        gap: 1.2em; 
        font-family: "marine", sans-serif;
        line-height: 1.2;
        color: var(--red);
    }
}

#tips {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
    align-items: start;
    margin-bottom: 0.5em;
    padding-top: 9em;
 
    h1 {
        font-family: "organda-mn", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 90pt;
        color: var(--red);
        margin: 0; /* remove default margin */
    }

    ul {
        font-family: "marine", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20pt;
        line-height: 1.3;
        margin-top: 0.3em;
        padding-left: 1.5em; 
    }

    li {
        align-items: center
    };

    li::marker {
        color: var(--yellow);
        font-size: 1.5em; 
        }

    .list-indent {
            padding-left: 2em;
            list-style-type: disc;
            font-size: 18pt;
            
            li::marker {
            color: var(--yellow);
            font-size: 1.25em;
            }
    }
   
}

/* ingredient section */
#ingredients h1 {
        font-family: "organda-mn", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 90pt;
        color: var(--red);
        margin: 0;
        padding-top: 1em;
    }

.ingredientlist {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 9em;
    align-items: start;
    margin-bottom: 0.75em;
    margin-top: 1.2em;
    color: var(black);

    ul {
        font-family: "marine", sans-serif;
        font-style: normal;
        font-size: 22pt;
        line-height: 1.3;
        margin-top: 0em;
        color: var(--black);
        transition: color 0.2s;
        }

}

li::marker {
    color: var(--yellow); 
    font-size: 1.5em; 
}
 .ingredientlist a:hover {
        color: var(--red);
        text-decoration: underline;
        font-size: 24pt;
 }

.ingredientlist a {
    text-decoration: none;
    color: var(--black); 
    transition: color 0.2s;
}



/* Recipe Steps Section */

#recipe {
    margin-bottom: 2em;
    padding-top: 8em;
 
    h1 {
        font-family: "organda-mn", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 90pt;
        color: var(--red);
        margin: 0;
        margin-bottom: 0.25em;
    }
}


.step-images {
    position: relative;
    width: 100%;
    max-width: 400px; /* adjust as needed */
    transition: opacity 0.3s ease;
}

.img-default {
    display: block;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.step-images:hover .img-hover {
    opacity: 1;   
}

.step-images:hover .img-default {
    opacity: 0; 
}

/* makes image on the left hand side 
.recipe-step{
    display: flex;
    align-items: flex-start;
    gap: 2em;
    margin-bottom: 3em;
}
*/

.step-content {
    margin-right: 8em;
    display: flex;
    align-items: flex-start;
    gap: 1.5em;
    flex: 1;

    .step-number {
        font-family: "peachy-keen-jf", sans-serif;
        font-style: normal;
        color: var(--red);
        font-size: 36pt;
        line-height: 1;
        min-width: 1.5em; /* keeps alignment even if numbers grow */
        margin-top: 0.7em; /* adjust to align vertically with text */
    }

    #step-text {
        h2 {
            font-family: "marine", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20pt;
            margin-bottom: 5em;
            margin-top:1.4em;
        }
    }


    .step-text {
        h2 {
            font-family: "marine", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20pt;
            margin-top: 1.4em;
            margin-bottom: 0.5em;
        }
        p {
            font-family: "marine", sans-serif;
            font-weight: 400;
            font-style: italic;
            font-size: 16pt;
            margin-top: 0;
            margin-bottom: 5.5em;
            color: var(--blue);
        }
    }

}


/*sticky*/

.recipecontainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3.25em;
    align-items: flex-start;
}

.ingredients-sticky {
    position: sticky;
    top: 120px;
    background-color: var(--blue);
    color: var(--cream);
    padding: 1.5em;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(35, 35, 35, 0.15);
    width: 100%;
    align-self: flex-start;
   

    h2 {
        font-family: "organda-mn", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 30pt;
        color: var(--yellow);
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }
}

/* Checklist styling */
.ingredients-sticky ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.ingredients-sticky li {
    display: flex;
    align-items: flex-start;
    line-height: 0.1em;
    margin-bottom: 0.3em;
    font-family: "marine", sans-serif;
    font-size: 13pt;
}

.ingredients-sticky input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
    accent-color: var(--red);
    cursor: pointer;
    flex-shrink: 0;  
}

.ingredients-sticky label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.ingredients-sticky li label {
    display: flex;          /* keeps checkbox and text side by side */
    gap: 0.5em;  

    span {
        display: inline-block;
        line-height: 1.2em; /* spacing between wrapped lines */
    }
}


#final {
    margin-bottom: 3em;
    padding-top: 0;
 
    h1 {
        font-family: "organda-mn", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 80pt;
        color: var(--red);
        margin: 0;
        margin-bottom: 0.25em;
    }

    .final-click {
    display: none; /* hide the real image initially */
    cursor: url('../assets/drawing/fork.png'), auto;
    }
    .final-default {
    cursor: pointer;
    }

    .final-images {
        display: flex;
        justify-content: center;
        margin-bottom: 8em;
        margin-top: 3em;
        
        img:hover {
        cursor: url('../assets/drawing/fork2.png'), auto;
        }
    }

    #cursor {
    position: fixed;
    width: 80px;  /* your desired size */
    height: 80px;
    pointer-events: none;
    background: url('../assets/drawing/fork.png') no-repeat center/contain;
    z-index: 9999;
}
}

footer p{
    text-align: center;
    font-family: "organda-mn", sans-serif;
    font-style: normal;
    font-size: 2.1em;   
    font-weight: 700;

    color: var(--blue);
}

footer a img {
    display: block;
    margin: 0 auto; /* centers the image */
    width: 80px;
    height: auto;
    margin-bottom: 4em;
}